---
import { formatHeadingHtml } from "../../utils/heading-html";
import type { ServiceData } from "./types";

interface Props {
  service: ServiceData;
}

const { service } = Astro.props;
---

<header
  id="service-hero"
  class="relative pt-50 sm:pt-62  pb-8 sm:pb-12.5 md:pb-20 bg-black text-white full-width-dark-bg"
  data-service-section="hero"
>
  <div class="relative flex justify-center">
    <svg class="h-13 sm:h-20 pr-10 sm:pr-12.5" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.05028 0H11C6.63687 7.2156 3.37989 15.0872 3.37989 26.1193C3.37989 36.9128 6.63687 44.7844 11 52H8.05028C3.81006 45.9771 0 36.9128 0 26.1193C0 14.9679 3.81006 6.02294 8.05028 0Z" fill="white"/>
    </svg>
    <div
      id="service-shape"
      class="grid h-32 w-32 sm:h-55 sm:w-55 grid-cols-3 grid-rows-3 border-lines-dark border-r border-b"
      style="background-image: linear-gradient(var(--color-lines-dark) 1px, transparent 1px), linear-gradient(90deg, var(--color-lines-dark) 1px, transparent 1px); background-size: calc(100% / 3) calc(100% / 3);"
    >
      {Array.from({ length: 9 }).map(() => (
        <div class="flex items-center justify-center"><div class="h-full w-full rounded-full bg-white"></div></div>
      ))}
    </div>
    <svg class="h-13 sm:h-20 pl-10 sm:pl-12.5 self-end" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.94972 52L-4.76837e-06 52C4.36313 44.7844 7.62011 36.9128 7.62011 25.8807C7.62011 15.0872 4.36313 7.21559 -2.22387e-07 -4.77635e-06L2.94972 -4.51848e-06C7.18995 6.02293 11 15.0872 11 25.8807C11 37.0321 7.18994 45.9771 2.94972 52Z" fill="white"/>
    </svg>
  </div>
  <div class="mt-25 sm:mt-50 md:mt-70 lg:mt-10">
    <div class="lg:flex lg:justify-between lg:items-end">
      <h1
        class="font-display text-[2.25rem] sm:text-[4rem] md:text-[5rem] lg:w-1/2 uppercase leading-none"
        set:html={formatHeadingHtml(service.h1)}
      />
      <div class="lg:max-w-[460px]">
        <p class="mt-4 sm:mt-6 md:mt-8 lg:mt-0 indent-20 text-[1.25rem] md:max-w-[600px]">{service.intro}</p>
        {service.primaryCtaLabel && service.primaryCtaUrl && (
          <div class="mt-8 sm:mt-10 lg:mt-16 flex">
            <a
              href={service.primaryCtaUrl}
              title={service.primaryCtaLabel}
              class="group relative overflow-hidden font-mono text-[1rem] leading-[0.6] uppercase py-6 px-5 flex justify-center w-full md:w-fit border border-bg-light bg-bg-light text-black transition-colors duration-300 ease-in-out cursor-pointer"
            >
              <span class="absolute inset-0 bg-black transform -translate-x-full group-hover:translate-x-0 transition-transform duration-400 ease-[cubic-bezier(0.25,0.46,0.45,0.94)]" />
              <span class="relative z-10 text-black group-hover:text-bg-light transition-colors duration-300">
                {service.primaryCtaLabel}
              </span>
            </a>
          </div>
        )}
      </div>
    </div>
  </div>
</header>
