---
import { DEFAULT_LOCALE, type Locale, useTranslations } from "../../i18n";
import CtaButton from "../ui/actions/CtaButton.astro";

interface Props {
  lang?: Locale;
}

const { lang = DEFAULT_LOCALE } = Astro.props;
const t = useTranslations(lang);
const steps = t.homepage.demarche.steps;
---

<section id="demarche" class="py-16 sm:py-24 sm:pb-32 md:pb-50 text-black">
  <div class="relative px-5 sm:px-8 flex flex-col">
    <svg class="absolute top-0 top-2 left-0 h-8 " viewBox="0 0 6 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.39106 0H6C3.62011 4.16285 1.84358 8.70413 1.84358 15.0688C1.84358 21.2959 3.62011 25.8372 6 30H4.39106C2.07821 26.5252 0 21.2959 0 15.0688C0 8.63532 2.07821 3.47477 4.39106 0Z" fill="#16191B"/>
    </svg>
    <h2 class="text-[1.5rem] sm:text-[2rem] md:text-[2.5rem] leading-[1.2] sm:pr-8 lg:p-0 lg:max-w-1/2">{t.homepage.demarche.title}</h2>
    <svg class="h-5 self-end translate-x-5 mt-4 sm:absolute sm:translate-0 sm:right-0" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="7" height="20" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0 14.1426)" fill="#16191B"/>
    </svg>
    <p class="mt-4 sm:mt-10 md:mt-16 section-label lg:max-w-1/2 lg:self-end lg:w-full">
      <span class="block -translate-x-5 lg:translate-0 lg:pl-16">{t.homepage.demarche.expectationLine1}<br/> {t.homepage.demarche.expectationLine2}</span>
      <span class="block text-right">{t.homepage.demarche.expectationLine3}<br/> {t.homepage.demarche.expectationLine4}</span>
    </p>
    <svg class="absolute bottom-0 right-0 h-8 " viewBox="0 0 7 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.67598 30L0 30C2.47905 25.8372 4.32961 21.2959 4.32961 14.9312C4.32961 8.70413 2.47905 4.16284 2.84579e-06 -5.03556e-07L1.67598 -3.68524e-07C4.0852 3.47477 6.25 8.70413 6.25 14.9312C6.25 21.3647 4.0852 26.5252 1.67598 30Z" fill="#16191B"/>
    </svg>
  </div>

  <ul class="mt-5 sm:mt-16">
    {steps.map((step) => (
      <li class="py-10 md:py-16 border-b border-lines">
        <div class="flex gap-7">
          <span class="text-[1.5rem] md:text-[2rem]">{step.number}/</span>
          <div>
            <h3 class="text-[1.5rem] md:text-[2rem]">{step.title}</h3>
            <p class="mt-3 section-label text-black/60">{step.quote}</p>
          </div>
        </div>
        <p class="mt-10 md:mt-16 text-[1.25rem] md:text-[1.5rem] md:max-w-[900px]">{step.description}</p>
      </li>
    ))}
  </ul>

  <div class="mt-10 sm:mt-16 md:mt-24 flex">
    <CtaButton href={`/${lang}/contact`} label={t.homepage.demarche.cta} variant="light" />
  </div>
</section>
