---
import { DEFAULT_LOCALE, type Locale, useTranslations } from "../../i18n";
import ProjectsShapeBand from "../projects/ProjectsShapeBand.astro";
import HeroWeather from "./HeroWeather.astro";

interface Props {
  lang?: Locale;
}

const { lang = DEFAULT_LOCALE } = Astro.props;
const t = useTranslations(lang);
---

<section id="hero" class="px-4 pt-62 pb-68 sm:mx-5 sm:pt-76 sm:pb-20 md:pt-50 md:pb-40 lg:pt-55 lg:pb-30 2xl:pt-85 2xl:pb-60">
    <div class="relative mx-auto flex flex-col items-center justify-center">
      <div class="relative @container w-full">
        <ProjectsShapeBand contentClass="h-full w-full p-4 flex flex-col justify-between text-black">
          <span class="mt-2 block font-display text-[2rem] uppercase leading-none sm:text-[2.5rem] lg:text-[3rem] 2xl:text-[3.75rem]">{t.homepage.hero.topLine1} <br>{t.homepage.hero.topLine2}</span>
          <h1 class="text-[0.875rem] leading-tight uppercase font-mono text-right absolute bottom-1/2 right-4 mb-2 sm:mb-4 lg:mb-3">{t.homepage.hero.agencyLine1} <br/>{t.homepage.hero.agencyLine2}</h1>
          <div class="absolute top-1/2 -mt-px w-screen center-x">
            <div class="h-px w-full bg-lines"></div>
          </div>
          <HeroWeather lang={lang} class="absolute top-1/2 left-4 mt-2 sm:mt-4 lg:mt-3" />
          <span class="block self-end text-right font-display text-[2rem] uppercase leading-none sm:text-[2.5rem] lg:text-[3rem] 2xl:text-[3.75rem]">{t.homepage.hero.bottomLine1} <br>{t.homepage.hero.bottomLine2}</span>
        </ProjectsShapeBand>
      </div>
    </div>
</section>
