---
const methods = [
	{
		number: "001",
		eyebrow: "Comprendre avant d'agir",
		title: "l'audit offert",
		quote: "On se pose avec vous, on parle vrai, sans jargon technique inutile.",
		description:
			"Tout commence par un diagnostic. On analyse vos performances (SEO, vitesse, UX) pour identifier vos réels blocages. Vous repartez avec des réponses claires, sans engagement.",
	},
	{
		number: "002",
		eyebrow: "La performance comme standard",
		title: "le moteur horde",
		quote: "On s'occupe de la complexité technique pour que vous restiez concentré sur votre vision.",
		description:
			"On utilise notre propre architecture technique pour construire des interfaces ultra-rapides. Pas de bricolage, mais un produit robuste qui nous permet de livrer plus vite et mieux.",
	},
	{
		number: "003",
		eyebrow: "Zéro intermédiaire",
		title: "collabo-<br>ration directe",
		quote: "On ne gère pas un dossier. On rejoint votre équipe le temps d'une mission.",
		description:
			"Oubliez les chaînes de mails infinies. On travaille en direct via Slack ou WhatsApp. Vous voyez l'évolution en temps réel.",
	},
];
---

<div class:list={["flex flex-col"]} }>
	<ol class="flex flex-col pt-64">
		{
			methods.map((method, index) => (
				<li
					class:list={[
						index != 2 && "border-b border-lines",
						index == 2 && "pb-10 sm:pb-32",
						index >= 1 && "method-white-bg",
						"py-10 sm:py-16 -mt-px",
					]}
					id={index === 1 ? "method-transition" : undefined}
				>
					<article class="flex flex-col md:flex-row md:justify-between">
						<header class="flex flex-col gap-2 sm:gap-8">
							<div
								class:list={[
									"section-label max-w-[210px] text-justify",
									index === 2 && "md:min-h-[2lh]",
								]}
							>
								<span class='inline before:content-["/_"]'>
									{method.number}
								</span>
								<p class="inline">{method.eyebrow}</p>
							</div>
							<h3
								class="font-display leading-none text-[1.625rem] sm:text-[2.5rem] md:text-[4rem] xl:text-[4.5rem] sm:max-w-[250px] md:max-w-[350px] uppercase"
								set:html={method.title}
							/>
						</header>
						<div class="flex flex-col md:w-1/2">
							<blockquote class="section-label mt-16 max-w-90 self-end sm:mt-24 md:self-start md:mt-0">
								"{method.quote}"
							</blockquote>
							<p class="text-2xl sm:text-[2rem] md:text-[2.5rem] mt-4 sm:mt-8 ">
								{method.description}
							</p>
						</div>
					</article>
				</li>
			))
		}
	</ol>
	<div class="method-white-bg pt-10 sm:pt-32">
		<a
			href="/contact"
			class="group relative overflow-hidden font-mono text-[1rem] leading-[0.6] uppercase py-6 px-5 flex justify-center w-full md:w-fit border border-black bg-transparent text-black transition-colors duration-300 ease-in-out cursor-pointer md:ml-auto"
		>
			<span
				class="absolute inset-0 bg-black transform -translate-x-full group-hover:translate-x-0 transition-transform duration-400 ease-[cubic-bezier(0.25,0.46,0.45,0.94)]"
			></span>
			<span
				class="relative z-10 group-hover:text-bg-light transition-colors duration-300"
			>
				Prendre Contact
			</span>
		</a>
	</div>
</div>

<style>
	.method-white-bg {
		position: relative;
	}
	.method-white-bg::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 100%;
		background-color: var(--color-bg-light);
		z-index: -1;
	}
</style>
