---
interface Props {
  class?: string;
  dark?: boolean;
  hideOverflow?: boolean;
}

const { class: className = '', dark = false, hideOverflow = true } = Astro.props;
---

<div id="physics-container" class:list={['physics-full-border w-full aspect-square md:aspect-2/1 relative', className]}>
  <div class:list={['absolute inset-0', hideOverflow && 'overflow-hidden']}>
    <div id="physics-cta" class="physics-cta" aria-hidden="true">
      Assez joué, viens discuter
    </div>
    <div id="logo-letters" class="absolute inset-0" aria-hidden="true" role="presentation">
    <svg class="physics-letter" width="253" height="89" viewBox="0 0 253 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M253 89L0 89L0 0L253 0L253 89ZM1 88L99.7559 88C47.8201 84.0677 7.73513 68.9218 1 50.1191L1 88ZM217.905 46C215.731 69.3722 175.64 88 126.5 88C161.35 88 192.857 83.0289 215.617 75.0225C227.002 71.0177 236.144 66.2726 242.42 61.0527C246.674 57.515 249.557 53.805 250.977 50H244V46L217.905 46ZM125.82 87.9961C126.047 87.9965 126.273 88 126.5 88C126.28 88 126.06 87.9959 125.841 87.9951C125.834 87.9951 125.827 87.9961 125.82 87.9961ZM252 50.1191C245.265 68.9218 205.18 84.0677 153.244 88L252 88V50.1191ZM10 50H2.02344C3.4434 53.805 6.3265 57.515 10.5801 61.0527C16.8563 66.2726 25.9985 71.0177 37.3828 75.0225C59.7296 82.8836 90.5098 87.8147 124.606 87.9912C124.283 87.9877 123.961 87.9829 123.639 87.9756C75.8123 87.2691 37.2269 68.9169 35.0947 46L10 46L10 50ZM67.0635 46C67.7489 56.972 74.0458 66.9315 84.0215 74.3086C93.1486 81.0581 105.316 85.605 118.912 86.7266C107.296 82.1564 98.5823 65.7782 98.0293 46H67.0635ZM152.971 46C152.418 65.7786 143.704 82.1568 132.087 86.7266C145.684 85.6051 157.851 81.0582 166.979 74.3086C176.954 66.9315 183.251 56.972 183.937 46L152.971 46ZM99.0293 46C99.3466 57.1921 102.312 67.2381 106.902 74.583C110.965 81.0826 116.231 85.374 122 86.6211V78H126V46L99.0293 46ZM184.938 46C183.768 65.353 165.691 81.4501 141.367 86.415C160.545 84.8999 177.673 80.5083 190.767 74.2119C206.279 66.7525 215.843 56.7835 216.9 46L184.938 46ZM36.0996 46C37.1568 56.7835 46.7212 66.7525 62.2334 74.2119C74.5523 80.1357 90.4419 84.3762 108.25 86.1191C84.6263 80.8355 67.21 64.9844 66.0615 46H36.0996ZM127 78H131V86.0605C135.983 84.3404 140.51 80.3232 144.098 74.583C148.688 67.2381 151.653 57.1921 151.971 46H127V78ZM98.5322 2.0957C74.9306 3.97524 53.8633 8.18006 37.3828 13.9775C25.9985 17.9823 16.8563 22.7274 10.5801 27.9473C5.58421 32.1024 2.47757 36.4944 1.41406 41H10V45L35.0244 45C35.009 44.6676 35 44.3342 35 44C35 24.3902 61.6776 7.77883 98.5322 2.0957ZM108.25 1.87988C90.4419 3.62284 74.5523 7.86431 62.2334 13.7881C45.7663 21.7067 36 32.4532 36 44C36 44.334 36.0091 44.6674 36.0254 45H66.0156C66.0056 44.6676 66 44.3342 66 44C66 24.1356 83.8012 7.34801 108.25 1.87988ZM118.914 1.27246C105.317 2.39375 93.149 6.94161 84.0215 13.6914C73.4429 21.5143 67 32.2413 67 44C67 44.3342 67.0053 44.6675 67.0156 45H98.0078C98.0032 44.6676 98 44.3342 98 44C98 23.3321 106.907 5.9947 118.914 1.27246ZM122 1.37793C116.231 2.62495 110.965 6.91733 106.902 13.417C102.04 21.1968 99 32.0072 99 44C99 44.3343 99.0031 44.6676 99.0078 45L126 45L126 10H122V1.37793ZM131 10L127 10L127 45H151.992C151.997 44.6676 152 44.3343 152 44C152 32.0072 148.96 21.1968 144.098 13.417C140.51 7.67669 135.983 3.65854 131 1.93848V10ZM132.085 1.27246C144.092 5.99421 153 23.3316 153 44C153 44.3342 152.997 44.6676 152.992 45L183.984 45C183.995 44.6675 184 44.3342 184 44C184 32.2413 177.557 21.5143 166.979 13.6914C157.851 6.94145 145.683 2.39361 132.085 1.27246ZM141.367 1.58398C166.525 6.71899 185 23.763 185 44C185 44.3342 184.994 44.6676 184.984 45L216.975 45C216.991 44.6674 217 44.334 217 44C217 32.4532 207.234 21.7067 190.767 13.7881C177.673 7.49173 160.545 3.09908 141.367 1.58398ZM154.467 2.0957C191.322 7.77869 218 24.39 218 44C218 44.3342 217.991 44.6676 217.976 45L244 45V41H251.586C250.522 36.4944 247.416 32.1024 242.42 27.9473C236.144 22.7274 227.002 17.9823 215.617 13.9775C199.136 8.17998 178.069 3.9752 154.467 2.0957ZM1 38.8799C7.7361 20.0777 47.821 4.93224 99.7559 1L1 1L1 38.8799ZM153.244 1C205.179 4.93223 245.264 20.0777 252 38.8799V1L153.244 1Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="164" height="89" viewBox="0 0 164 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M164.001 89L0.000976562 89L0.000976562 44.5762C0.000934031 44.5508 -3.02395e-10 44.5254 0 44.5C3.07181e-10 44.4743 0.000932933 44.4486 0.000976562 44.4229L0.000976562 0L164.001 0V89ZM1.00098 79H10L10 88H35.0918C18.0682 84.3356 4.66687 70.9351 1.00098 53.9121L1.00098 79ZM1.0293 46C1.81993 69.3298 20.9777 88 44.5 88C50.6529 88 56.5061 86.7192 61.8115 84.415C47.5329 77.3585 37.5871 62.8692 37.0283 46H1.0293ZM63 84.9814C60.1211 86.2993 57.0775 87.3178 53.9082 88H72.0918C68.9225 87.3178 65.8789 86.2993 63 84.9814ZM82 68.4678C77.6408 75.2741 71.478 80.8123 64.1875 84.415C69.4932 86.7195 75.3467 88 81.5 88C87.8587 88 93.8982 86.6345 99.3428 84.1826C92.2568 80.576 86.2656 75.1278 82 68.4678ZM100.5 84.748C97.4742 86.179 94.2617 87.2781 90.9082 88H110.092C106.738 87.2781 103.526 86.179 100.5 84.748ZM125.972 46C125.419 62.6847 115.684 77.043 101.656 84.1826C107.101 86.6347 113.141 88 119.5 88C143.022 88 162.18 69.3298 162.971 46H125.972ZM163.001 53.9033C159.338 70.9305 145.935 84.335 128.908 88H154V79H163V88H163.001V53.9033ZM38.0293 46C38.5975 62.7678 48.6536 77.125 63 83.877C70.5976 80.3012 76.9914 74.5935 81.4111 67.5225C77.5848 61.2057 75.2887 53.861 75.0283 46L38.0293 46ZM88.9717 46C88.7113 53.8612 86.4143 61.2056 82.5879 67.5225C86.9104 74.4382 93.1213 80.0511 100.5 83.6396C114.58 76.7919 124.409 62.5726 124.971 46H88.9717ZM76.0293 46C76.283 53.4851 78.4269 60.4887 82 66.5518C85.5731 60.4887 87.717 53.4851 87.9707 46H76.0293ZM44.5 1C20.5007 1 1.04157 20.435 1.00098 44.4248V44.5742C1.00121 44.7163 1.00524 44.8582 1.00684 45H37.0068C37.005 44.8335 37 44.6669 37 44.5C37 26.9927 47.1112 11.8487 61.8115 4.58398C56.5062 2.27989 50.6528 1 44.5 1ZM63 5.12207C48.2273 12.0745 38 27.0916 38 44.5C38 44.6669 38.005 44.8335 38.0068 45L75.0068 45C75.005 44.8335 75 44.6669 75 44.5C75 36.0733 77.3422 28.1936 81.4111 21.4766C76.9914 14.4058 70.5975 8.69765 63 5.12207ZM82 22.4473C78.189 28.9138 76 36.4508 76 44.5C76 44.6669 76.005 44.8335 76.0068 45H87.9932C87.995 44.8335 88 44.6669 88 44.5C88 36.4508 85.811 28.9138 82 22.4473ZM100.5 5.35938C93.1214 8.94782 86.9105 14.561 82.5879 21.4766C86.657 28.1937 89 36.0731 89 44.5C89 44.6669 88.995 44.8335 88.9932 45H124.993C124.995 44.8335 125 44.6669 125 44.5C125 27.2884 115.003 12.4128 100.5 5.35938ZM119.5 1C113.141 1 107.101 2.36525 101.656 4.81738C116.103 12.1701 126 27.1788 126 44.5C126 44.6669 125.995 44.8335 125.993 45H162.993C162.995 44.8335 163 44.6669 163 44.5C163 20.4756 143.524 1 119.5 1ZM128.908 1C145.934 4.66495 159.338 18.069 163.001 35.0957V1H163V10H154V1L128.908 1ZM10 10H1.00098L1.00098 35.0869C4.66715 18.0644 18.0685 4.66432 35.0918 1L10 1V10ZM81.5 1C75.3469 1 69.4931 2.27967 64.1875 4.58398C71.4779 8.18664 77.6407 13.7251 82 20.5313C86.2656 13.8714 92.2568 8.42286 99.3428 4.81641C93.8983 2.36461 87.8585 1 81.5 1ZM90.9082 1C94.2613 1.72176 97.4735 2.82032 100.499 4.25098C103.525 2.81996 106.738 1.72189 110.092 1L90.9082 1ZM53.9082 1C57.0771 1.68211 60.1204 2.70003 62.999 4.01758C65.8781 2.69967 68.9223 1.68224 72.0918 1L53.9082 1Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M44.5 0C69.0767 0 89 19.9233 89 44.5C89 69.0767 69.0767 89 44.5 89C44.4078 89 44.3157 88.9967 44.2236 88.9961C44.1472 88.9968 44.0707 89 43.9941 89L43.1191 88.9854C42.8867 88.9776 42.6551 88.9641 42.4238 88.9502C18.8111 87.8657 0 68.3807 0 44.5C0 20.6337 18.7882 1.1569 42.3809 0.0507812C42.9155 0.0178613 43.4533 0 43.9941 0L44.1875 0.00292969C44.2916 0.00221382 44.3957 0 44.5 0ZM43.6279 87.9844C43.6524 87.9863 43.6768 87.9877 43.7012 87.9893C43.8436 87.9918 43.9862 87.9939 44.1289 87.9951C44.2059 87.9929 44.2831 87.9905 44.3604 87.9844H43.6279ZM29.3223 45.5C29.4147 57.3064 31.1388 67.9302 33.8525 75.6338C35.2492 79.5986 36.8898 82.7365 38.6611 84.8633C40.2684 86.793 41.9013 87.7959 43.4941 87.9697V49.5566H39.4434V45.5H29.3223ZM48.5459 49.5566H44.4941V87.9697C46.0872 87.796 47.7207 86.7932 49.3281 84.8633C51.0995 82.7365 52.739 79.5986 54.1357 75.6338C56.8495 67.9302 58.5746 57.3065 58.667 45.5H48.5459V49.5566ZM11.123 45.5C11.3226 57.19 15.0106 67.7142 20.832 75.3604C25.9738 82.1137 32.748 86.5869 40.2451 87.7158C33.5082 83.0201 28.4812 65.9642 28.3223 45.5H11.123ZM59.665 45.6484C59.483 66.0457 54.4643 83.0296 47.7441 87.7148C55.2406 86.5856 62.0138 82.1133 67.1553 75.3604C72.9768 67.7141 76.6656 57.1901 76.8652 45.5H59.666L59.665 45.6484ZM77.8633 45.6484C77.4904 64.979 67.7308 81.2424 54.3486 86.8789C73.3166 82.4884 87.5318 65.6934 87.9873 45.5H77.8652L77.8633 45.6484ZM1.0127 45.5C1.44864 64.8259 14.4879 81.0371 32.2344 86.2432C19.5453 80.074 10.4372 64.2122 10.123 45.5H1.0127ZM54.3467 2.11914C67.9945 7.86594 77.875 24.6662 77.875 44.5H87.9883V45.3984C87.9943 45.0997 88 44.8002 88 44.5C88 23.8622 73.6281 6.58104 54.3467 2.11914ZM32.2275 2.75781C14.1792 8.05557 1 24.7376 1 44.5C1 44.775 1.00566 45.0494 1.01074 45.3232V44.5H10.1133C10.1133 25.3575 19.3162 9.03879 32.2275 2.75781ZM40.2441 1.28418C32.7474 2.41334 25.9736 6.88658 20.832 13.6396C14.845 21.5033 11.1133 32.4108 11.1133 44.5H28.3184C28.3184 23.594 33.3981 6.05687 40.2441 1.28418ZM44.4941 40.4541H48.5459V44.5H58.6709C58.6709 32.2941 56.9259 21.2867 54.1357 13.3662C52.739 9.40141 51.0995 6.26352 49.3281 4.13672C47.7207 2.20675 46.0872 1.20296 44.4941 1.0293V40.4541ZM47.7422 1.2832C54.5894 6.05383 59.6709 23.5919 59.6709 44.5H76.875C76.875 32.4107 73.1424 21.5033 67.1553 13.6396C62.0133 6.88606 55.2395 2.41192 47.7422 1.2832ZM43.4941 1.0293C41.9013 1.20309 40.2684 2.20699 38.6611 4.13672C36.8898 6.26352 35.2492 9.40141 33.8525 13.3662C31.0624 21.2867 29.3184 32.2942 29.3184 44.5H39.4434V40.4541H43.4941V1.0293ZM43.915 1.00684H44.2021C44.1777 1.00573 44.1533 1.00463 44.1289 1.00391C44.0576 1.0045 43.9863 1.0059 43.915 1.00684Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="178" height="178" viewBox="0 0 178 178" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M44.5 0C69.0767 1.36735e-06 89 19.9233 89 44.5V89H133.5C158.077 89 178 108.923 178 133.5L177.985 134.648C177.966 135.409 177.927 136.165 177.87 136.916C177.826 137.502 177.766 138.085 177.699 138.665C177.681 138.819 177.666 138.974 177.646 139.128C177.617 139.36 177.583 139.592 177.55 139.823C177.531 139.953 177.516 140.083 177.496 140.213C177.468 140.398 177.436 140.583 177.405 140.768C177.374 140.959 177.344 141.15 177.311 141.341C177.289 141.462 177.264 141.583 177.241 141.704C177.197 141.943 177.153 142.181 177.104 142.419C177.077 142.553 177.047 142.687 177.019 142.821C176.97 143.047 176.923 143.273 176.871 143.498C176.844 143.618 176.814 143.737 176.785 143.856C176.728 144.096 176.67 144.335 176.609 144.573C176.581 144.686 176.55 144.797 176.521 144.909C176.458 145.145 176.395 145.38 176.329 145.614C176.286 145.766 176.241 145.917 176.196 146.068C176.14 146.259 176.085 146.449 176.026 146.638C175.964 146.839 175.9 147.039 175.835 147.238C175.791 147.373 175.749 147.508 175.704 147.643C175.634 147.851 175.56 148.058 175.487 148.266C175.439 148.404 175.392 148.543 175.342 148.681C175.279 148.854 175.213 149.025 175.148 149.197C175.083 149.37 175.018 149.543 174.951 149.715C174.894 149.861 174.835 150.005 174.776 150.15C174.7 150.339 174.624 150.528 174.545 150.716C174.478 150.874 174.41 151.031 174.342 151.188C174.272 151.35 174.203 151.511 174.131 151.671C174.05 151.852 173.966 152.033 173.882 152.213C173.814 152.36 173.746 152.507 173.676 152.653C173.593 152.828 173.507 153.001 173.422 153.174C173.352 153.315 173.283 153.456 173.212 153.597C173.12 153.777 173.026 153.956 172.933 154.135C172.857 154.279 172.782 154.423 172.705 154.565C172.621 154.722 172.534 154.878 172.448 155.033C172.363 155.187 172.278 155.341 172.191 155.493C172.101 155.653 172.009 155.811 171.916 155.97C171.827 156.121 171.738 156.272 171.647 156.422C171.56 156.567 171.471 156.711 171.382 156.855C171.281 157.018 171.181 157.181 171.078 157.342C170.987 157.485 170.894 157.627 170.802 157.769C170.706 157.915 170.612 158.061 170.515 158.206C170.414 158.357 170.311 158.507 170.208 158.657C170.105 158.807 170.003 158.956 169.898 159.104C169.802 159.241 169.703 159.377 169.604 159.514C169.496 159.664 169.387 159.814 169.276 159.963C169.179 160.095 169.08 160.226 168.981 160.356C168.867 160.508 168.751 160.658 168.635 160.808C168.54 160.929 168.446 161.05 168.351 161.17C168.214 161.341 168.076 161.511 167.938 161.681C167.859 161.777 167.781 161.873 167.701 161.968C167.565 162.131 167.427 162.293 167.289 162.454C167.181 162.58 167.072 162.705 166.963 162.83C166.84 162.971 166.716 163.11 166.591 163.249C166.48 163.372 166.369 163.494 166.257 163.615C166.126 163.757 165.996 163.899 165.863 164.039C165.762 164.147 165.659 164.254 165.557 164.36C165.402 164.521 165.247 164.68 165.09 164.838C165.006 164.922 164.922 165.006 164.838 165.09C164.676 165.25 164.514 165.409 164.35 165.566C164.244 165.668 164.138 165.769 164.031 165.87C163.892 166.001 163.753 166.131 163.612 166.261C163.493 166.371 163.373 166.48 163.252 166.589C163.107 166.719 162.96 166.849 162.813 166.978C162.693 167.083 162.573 167.188 162.451 167.292C162.298 167.424 162.143 167.554 161.987 167.684C161.878 167.775 161.768 167.866 161.658 167.956C161.502 168.084 161.345 168.21 161.187 168.336C161.059 168.437 160.932 168.538 160.804 168.638C160.658 168.751 160.513 168.863 160.366 168.975C160.228 169.08 160.089 169.184 159.949 169.287C159.82 169.383 159.691 169.477 159.561 169.571C159.399 169.688 159.236 169.804 159.073 169.919C158.941 170.012 158.808 170.104 158.675 170.195C158.511 170.308 158.346 170.42 158.181 170.53C158.057 170.613 157.933 170.694 157.809 170.775C157.643 170.884 157.478 170.992 157.311 171.098C157.165 171.19 157.019 171.281 156.872 171.372C156.72 171.466 156.567 171.56 156.413 171.652C156.259 171.745 156.104 171.836 155.949 171.927C155.802 172.013 155.654 172.1 155.506 172.185C155.336 172.281 155.165 172.376 154.993 172.471C154.85 172.55 154.706 172.629 154.562 172.707C154.422 172.782 154.282 172.856 154.142 172.93C153.964 173.023 153.786 173.116 153.606 173.207C153.435 173.294 153.262 173.379 153.089 173.464C152.954 173.53 152.82 173.596 152.685 173.661C152.506 173.747 152.326 173.83 152.146 173.913C151.986 173.987 151.825 174.061 151.663 174.134C151.517 174.199 151.37 174.262 151.223 174.326C151.043 174.404 150.863 174.484 150.682 174.56C150.526 174.625 150.37 174.687 150.214 174.75C150.041 174.82 149.869 174.891 149.695 174.959C149.529 175.024 149.362 175.086 149.194 175.149C149.024 175.214 148.853 175.279 148.682 175.341C148.518 175.4 148.354 175.457 148.189 175.515C148.014 175.576 147.839 175.638 147.662 175.697C147.486 175.756 147.31 175.812 147.133 175.869C146.968 175.922 146.803 175.976 146.637 176.027C146.435 176.09 146.232 176.149 146.029 176.208C145.892 176.248 145.754 176.29 145.616 176.329C145.389 176.393 145.16 176.454 144.931 176.515C144.805 176.548 144.68 176.582 144.555 176.614C144.336 176.67 144.117 176.723 143.897 176.775C143.763 176.808 143.629 176.841 143.494 176.872C143.293 176.918 143.091 176.961 142.89 177.004C142.722 177.04 142.554 177.077 142.385 177.111C142.199 177.149 142.013 177.182 141.826 177.218C141.661 177.249 141.497 177.282 141.331 177.312C141.128 177.348 140.924 177.38 140.72 177.413C140.552 177.44 140.384 177.47 140.216 177.495C140.052 177.52 139.887 177.541 139.722 177.564C139.52 177.593 139.318 177.623 139.115 177.648C138.958 177.668 138.8 177.684 138.643 177.702C138.43 177.727 138.218 177.753 138.005 177.774C137.831 177.792 137.657 177.805 137.482 177.82C137.286 177.838 137.09 177.856 136.894 177.871C136.643 177.89 136.391 177.905 136.14 177.92C136.02 177.927 135.9 177.936 135.779 177.942C135.398 177.962 135.015 177.977 134.631 177.986L133.5 178H0V44.5C1.36735e-06 19.9233 19.9233 6.94279e-07 44.5 0ZM1 177H35.0898C18.0665 173.335 4.66509 159.934 1 142.91V177ZM88 142.909C84.3351 159.933 70.9333 173.335 53.9092 177H88V142.909ZM89 177H124.09C104.394 172.759 89.5425 155.485 89.0146 134.648L89.0068 134H89V177ZM90.0068 134C90.2748 157.794 109.643 177 133.5 177C156.005 177 174.518 159.91 176.77 138H168V134H90.0068ZM1.00684 134C1.27297 157.628 20.3725 176.727 44 176.993V138H41V134H1.00684ZM50 138H45V176.993C68.6275 176.727 87.727 157.628 87.9932 134H50V138ZM133.5 90C109.643 90 90.2748 109.206 90.0068 133H168V129H176.77C174.518 107.09 156.005 90 133.5 90ZM44 90.0059C20.3724 90.272 1.27297 109.372 1.00684 133H41V129H44V90.0059ZM45 129H50V133H87.9932C87.727 109.372 68.6275 90.272 45 90.0059V129ZM89 133H89.0068C89.2394 111.873 104.191 94.2838 124.092 90H89V133ZM1 124.091C4.66496 107.066 18.0672 93.6646 35.0918 90H1V124.091ZM53.9082 90C70.9328 93.6646 84.335 107.066 88 124.091V90H53.9082ZM1 89H44V88.9932L43.3516 88.9854C22.5149 88.4575 5.24054 73.6063 1 53.9102V89ZM88 53.9092C83.7159 73.8098 66.1262 88.7606 45 88.9932V89H88V53.9092ZM40 1.23047C18.09 3.48227 1 21.9951 1 44.5C1 68.3575 20.206 87.7252 44 87.9932V10H40V1.23047ZM49 10H45V87.9932C68.794 87.7252 88 68.3575 88 44.5C88 21.9951 70.91 3.48228 49 1.23047V10Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="178" height="178" viewBox="0 0 178 178" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M89 89L178 89V178L0 178L0 0L89 0L89 89ZM1 168H10L10 177H35.0898C18.0665 173.335 4.66509 159.934 1 142.91L1 168ZM88 142.909C84.3351 159.933 70.9333 173.335 53.9092 177L88 177V142.909ZM89 168H98V177H124.09C104.394 172.759 89.5425 155.485 89.0146 134.648L89.0068 134H89V168ZM90.0068 134C90.2748 157.794 109.643 177 133.5 177C133.667 177 133.834 176.995 134 176.993V134H90.0068ZM177 142.909C173.335 159.933 159.933 173.335 142.909 177H168V168H177V142.909ZM1.00684 134C1.27297 157.628 20.3725 176.727 44 176.993L44 134H1.00684ZM45 176.993C68.6275 176.727 87.727 157.628 87.9932 134L45 134L45 176.993ZM135 133H176V134H135V176.971C158.33 176.18 177 157.022 177 133.5C177 109.978 158.33 90.8189 135 90.0283V133ZM44 90.0059C20.3724 90.272 1.27297 109.372 1.00684 133H44L44 90.0059ZM45 133L87.9932 133C87.727 109.372 68.6275 90.272 45 90.0059L45 133ZM98 99H89L89 133H89.0068C89.2394 111.873 104.191 94.2838 124.092 90L98 90V99ZM133.5 90C109.643 90 90.2748 109.206 90.0068 133H134V90.0059C133.834 90.004 133.667 90 133.5 90ZM1 124.091C4.66496 107.066 18.0672 93.6646 35.0918 90H1L1 124.091ZM53.9082 90C70.9328 93.6646 84.335 107.066 88 124.091L88 90H53.9082ZM142.908 90C159.933 93.6646 173.335 107.066 177 124.091V99H168V90H142.908ZM1 80H10L10 89L44 89V88.9932L43.3516 88.9854C22.5149 88.4575 5.24054 73.6063 1 53.9102L1 80ZM88 53.9092C83.7159 73.8098 66.1262 88.7606 45 88.9932V89H79V80H88V53.9092ZM1.00684 45C1.27297 68.6275 20.3725 87.727 44 87.9932L44 45L1.00684 45ZM45 87.9932C68.6275 87.727 87.727 68.6275 87.9932 45L45 45L45 87.9932ZM44.5 1C20.6425 1 1.27485 20.206 1.00684 44L44 44L44 2L45 2L45 44L87.9932 44C87.7252 20.206 68.3575 1 44.5 1ZM10 10L1 10L1 35.0908C4.66496 18.0664 18.0672 4.6646 35.0918 1L10 1L10 10ZM53.9082 1C70.9328 4.6646 84.335 18.0664 88 35.0908V10L79 10V1L53.9082 1Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M89 89H0V0H89V89ZM1.98828 88H35.0918C26.7838 86.2117 19.3395 82.1048 13.4668 76.3887L1.98828 88ZM75.7158 76.21C69.8152 82.0192 62.3026 86.1931 53.9082 88H79V79.4941L75.7158 76.21ZM14.1699 75.6777C21.895 83.1941 32.4013 87.8625 44 87.9932V45.5049L14.1699 75.6777ZM45 87.9932C56.6884 87.8615 67.2675 83.1216 75.0088 75.5029L45 45.4941V87.9932ZM1 87.5771L12.7578 75.6836C6.96523 69.7879 2.8036 62.2872 1 53.9082V87.5771ZM88 53.9082C86.215 62.2008 82.1195 69.6324 76.4199 75.5L79.9199 79H88V53.9082ZM1.00684 45C1.13828 56.6701 5.8632 67.2346 13.4609 74.9727L43.0938 45H1.00684ZM75.7129 74.793C83.2084 67.0713 87.8627 56.5804 87.9932 45H45.9199L75.7129 74.793ZM13.4961 13.9902C5.87739 21.7316 1.13849 32.3116 1.00684 44H43.5059L13.4961 13.9902ZM45.4883 44H87.9932C87.8605 32.2229 83.0505 21.571 75.3301 13.8145L45.4883 44ZM44 1.00586C32.4196 1.13629 21.9277 5.79066 14.2061 13.2861L44 43.0801V1.00586ZM45 43.0713L74.6172 13.1133C66.9126 5.71847 56.4917 1.1353 45 1.00586V43.0713ZM1 35.0908C2.80703 26.6968 6.98005 19.1836 12.7891 13.2832L9.50586 10H1V35.0908ZM76.0332 13.1035C81.9348 19.0307 86.1746 26.6114 88 35.0908V1L76.0332 13.1035ZM10 9.08008L13.499 12.5791C19.3666 6.87954 26.7992 2.78502 35.0918 1H10V9.08008ZM53.9082 1C62.1154 2.76663 69.4803 6.79524 75.3193 12.4033L86.5938 1H53.9082Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    <svg class="physics-letter" width="253" height="89" viewBox="0 0 253 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M253 89L0 89L0 0L253 0V89ZM1 88L99.7559 88C47.8201 84.0677 7.73513 68.9218 1 50.1191L1 88ZM217.905 46C215.731 69.3722 175.64 88 126.5 88C161.35 88 192.857 83.0289 215.617 75.0225C227.002 71.0177 236.144 66.2726 242.42 61.0527C246.674 57.515 249.557 53.805 250.977 50H244V46L217.905 46ZM125.82 87.9961C126.047 87.9965 126.273 88 126.5 88C126.28 88 126.06 87.9959 125.841 87.9951C125.834 87.9951 125.827 87.9961 125.82 87.9961ZM252 50.1191C245.265 68.9218 205.18 84.0677 153.244 88L252 88V50.1191ZM10 50H2.02344C3.4434 53.805 6.3265 57.515 10.5801 61.0527C16.8563 66.2726 25.9985 71.0177 37.3828 75.0225C59.7296 82.8836 90.5098 87.8147 124.606 87.9912C124.283 87.9877 123.961 87.9829 123.639 87.9756C75.8123 87.2691 37.2269 68.9169 35.0947 46L10 46V50ZM67.0635 46C67.7489 56.972 74.0458 66.9315 84.0215 74.3086C93.1486 81.0581 105.316 85.605 118.912 86.7266C107.296 82.1564 98.5823 65.7782 98.0293 46L67.0635 46ZM152.971 46C152.418 65.7786 143.704 82.1568 132.087 86.7266C145.684 85.6051 157.851 81.0582 166.979 74.3086C176.954 66.9315 183.251 56.972 183.937 46L152.971 46ZM99.0293 46C99.3466 57.1921 102.312 67.2381 106.902 74.583C110.965 81.0826 116.231 85.374 122 86.6211V78H126L126 46H99.0293ZM184.938 46C183.768 65.353 165.691 81.4501 141.367 86.415C160.545 84.8999 177.673 80.5083 190.767 74.2119C206.279 66.7525 215.843 56.7835 216.9 46H184.938ZM36.0996 46C37.1568 56.7835 46.7212 66.7525 62.2334 74.2119C74.5523 80.1357 90.4419 84.3762 108.25 86.1191C84.6263 80.8355 67.21 64.9844 66.0615 46H36.0996ZM127 78H131V86.0605C135.983 84.3404 140.51 80.3232 144.098 74.583C148.688 67.2381 151.653 57.1921 151.971 46H127L127 78ZM98.5322 2.0957C74.9306 3.97524 53.8633 8.18006 37.3828 13.9775C25.9985 17.9823 16.8563 22.7274 10.5801 27.9473C5.58421 32.1024 2.47757 36.4944 1.41406 41H10V45L35.0244 45C35.009 44.6676 35 44.3342 35 44C35 24.3902 61.6776 7.77883 98.5322 2.0957ZM108.25 1.87988C90.4419 3.62284 74.5523 7.86431 62.2334 13.7881C45.7663 21.7067 36 32.4532 36 44C36 44.334 36.0091 44.6674 36.0254 45H66.0156C66.0056 44.6676 66 44.3342 66 44C66 24.1356 83.8012 7.34801 108.25 1.87988ZM118.914 1.27246C105.317 2.39375 93.149 6.94161 84.0215 13.6914C73.4429 21.5143 67 32.2413 67 44C67 44.3342 67.0053 44.6675 67.0156 45L98.0078 45C98.0032 44.6676 98 44.3342 98 44C98 23.3321 106.907 5.9947 118.914 1.27246ZM122 1.37793C116.231 2.62495 110.965 6.91733 106.902 13.417C102.04 21.1968 99 32.0072 99 44C99 44.3343 99.0031 44.6676 99.0078 45H126V10H122V1.37793ZM131 10H127V45H151.992C151.997 44.6676 152 44.3343 152 44C152 32.0072 148.96 21.1968 144.098 13.417C140.51 7.67669 135.983 3.65854 131 1.93848V10ZM132.085 1.27246C144.092 5.99421 153 23.3316 153 44C153 44.3342 152.997 44.6676 152.992 45L183.984 45C183.995 44.6675 184 44.3342 184 44C184 32.2413 177.557 21.5143 166.979 13.6914C157.851 6.94145 145.683 2.39361 132.085 1.27246ZM141.367 1.58398C166.525 6.71899 185 23.763 185 44C185 44.3342 184.994 44.6676 184.984 45H216.975C216.991 44.6674 217 44.334 217 44C217 32.4532 207.234 21.7067 190.767 13.7881C177.673 7.49173 160.545 3.09908 141.367 1.58398ZM154.467 2.0957C191.322 7.77869 218 24.39 218 44C218 44.3342 217.991 44.6676 217.976 45L244 45V41H251.586C250.522 36.4944 247.416 32.1024 242.42 27.9473C236.144 22.7274 227.002 17.9823 215.617 13.9775C199.136 8.17998 178.069 3.9752 154.467 2.0957ZM1 38.8799C7.7361 20.0777 47.821 4.93224 99.7559 1L1 1L1 38.8799ZM153.244 1C205.179 4.93223 245.264 20.0777 252 38.8799V1L153.244 1Z" fill=`${dark ? '#4C4B4B' : '#B1B1B1'}`/>
    </svg>
    </div>
  </div>
</div>

<style>
  .physics-full-border {
    position: relative;
  }

  .physics-full-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: var(--color-lines);
  }

  .physics-grid {
    --grid-color: var(--color-bg);
    --grid-cols: 6;
    --grid-rows: 6;
    background-image:
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: calc(100% / var(--grid-cols)) calc(100% / var(--grid-rows));
    background-position: 0 0;
  }

  /* md: aspect-2/1 (2:1) */
  @media (min-width: 1024px) {
    .physics-grid {
      --grid-cols: 13;
      --grid-rows: 7;
    }
  }

  /* xl: aspect-3/1 (3:1) */
  @media (min-width: 1920px) {
    .physics-grid {
      --grid-cols: 13;
      --grid-rows: 7;
    }
  }

  .physics-grid::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--grid-color);
    pointer-events: none;
    z-index: 10;
  }

  .physics-letter {
    position: absolute;
    will-change: transform;
    pointer-events: none;
    opacity: 0;
  }

  .physics-letter.physics-ready {
    opacity: 1;
  }

  .physics-cta {
    position: absolute;
    z-index: 100;
    padding: 0.75rem 1.5rem;
    background: var(--color-black);
    color: var(--color-bg-light);
    font-family: var(--font-display);
    font-size: 0.875rem;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, calc(-50% - 16px)) scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
  }

  .physics-cta.visible {
    opacity: 1;
    transform: translate(-50%, calc(-50% - 16px)) scale(1);
  }
</style>

<script>
  // Matter.js sera importé dynamiquement quand le composant devient visible
  type MatterType = typeof import('matter-js');
  let Matter: MatterType;

  // Destructuring sera fait après l'import dynamique
  let Engine: MatterType['Engine'];
  let Bodies: MatterType['Bodies'];
  let Composite: MatterType['Composite'];
  let Body: MatterType['Body'];
  let Mouse: MatterType['Mouse'];
  let MouseConstraint: MatterType['MouseConstraint'];

  // Détecter si c'est un device avec pointeur (souris)
  const hasPointer = window.matchMedia('(pointer: fine)').matches;

  // Variables pour le cleanup
  let currentEngine: Matter.Engine | null = null;
  let animationFrameId: number | null = null;

  // CTA "Assez joué" - variables globales
  const PLAY_TIME_THRESHOLD = 10000; // 10 secondes avant d'afficher
  const CTA_DISPLAY_DURATION = 3300; // 3 secondes d'affichage
  let playTimer: ReturnType<typeof setTimeout> | null = null;
  let ctaHideTimer: ReturnType<typeof setTimeout> | null = null;
  let ctaVisible = false;
  let ctaShown = false; // Ne montrer qu'une seule fois
  let mouseX = 0;
  let mouseY = 0;

  function cleanupPhysics() {
    // Arrêter l'animation
    if (animationFrameId) {
      cancelAnimationFrame(animationFrameId);
      animationFrameId = null;
    }

    // Nettoyer le moteur Matter.js
    if (currentEngine) {
      Matter.Events.off(currentEngine);
      Composite.clear(currentEngine.world, false);
      Engine.clear(currentEngine);
      currentEngine = null;
    }

    // Nettoyer les timers CTA
    if (playTimer) {
      clearTimeout(playTimer);
      playTimer = null;
    }
    if (ctaHideTimer) {
      clearTimeout(ctaHideTimer);
      ctaHideTimer = null;
    }
  }

  // Fonctions CTA "Assez joué"
  function showCTA() {
    if (ctaShown) return;
    const cta = document.getElementById('physics-cta');
    if (!cta) return;

    ctaShown = true;
    ctaVisible = true;
    cta.classList.add('visible');
    cta.style.left = `${mouseX}px`;
    cta.style.top = `${mouseY}px`;

    // Auto-hide après 3 secondes
    ctaHideTimer = setTimeout(() => {
      hideCTA();
    }, CTA_DISPLAY_DURATION);
  }

  function hideCTA() {
    const cta = document.getElementById('physics-cta');
    if (!cta) return;

    ctaVisible = false;
    cta.classList.remove('visible');
  }

  function updateCTAPosition(e: MouseEvent) {
    const container = document.getElementById('physics-container');
    if (!container) return;

    const rect = container.getBoundingClientRect();
    mouseX = e.clientX - rect.left;
    mouseY = e.clientY - rect.top;

    if (ctaVisible) {
      const cta = document.getElementById('physics-cta');
      if (cta) {
        cta.style.left = `${mouseX}px`;
        cta.style.top = `${mouseY}px`;
      }
    }
  }

  function startPlayTimer() {
    // Ne pas démarrer si déjà montré ou timer déjà en cours
    if (ctaShown || playTimer) return;

    playTimer = setTimeout(() => {
      showCTA();
    }, PLAY_TIME_THRESHOLD);
  }

  // Setup CTA event listeners
  function setupCTA() {
    const cta = document.getElementById('physics-cta');
    if (!cta || ctaShown) return;

    // Reset l'état
    ctaVisible = false;
    hideCTA();

    document.addEventListener('mousemove', updateCTAPosition);
  }

  async function initPhysics() {
    const container = document.getElementById('physics-container');
    const letters = document.querySelectorAll<SVGSVGElement>('.physics-letter');

    if (!container || letters.length === 0) return;

    // Import dynamique de Matter.js (lazy loading)
    if (!Matter) {
      const MatterModule = await import('matter-js');
      Matter = MatterModule.default || MatterModule;
      Engine = Matter.Engine;
      Bodies = Matter.Bodies;
      Composite = Matter.Composite;
      Body = Matter.Body;
      Mouse = Matter.Mouse;
      MouseConstraint = Matter.MouseConstraint;
    }

    // Cleanup avant de réinitialiser
    cleanupPhysics();

    // Setup CTA "Assez joué"
    setupCTA();

    // Reset les classes et cacher les lettres
    letters.forEach((letter) => letter.classList.remove('physics-ready'));

    // Nettoyer l'ancien canvas si existant
    const oldCanvas = container.querySelector('canvas');
    if (oldCanvas) oldCanvas.remove();

    const rect = container.getBoundingClientRect();
    const width = rect.width;
    const height = rect.height;

    // Scale proportionnel au container
    const baseScale = width / 1200;
    const isMobile = width < 768;
    const mobileMultiplier = isMobile ? 2 : 1;
    const scale = Math.max(0.3, Math.min(1, baseScale)) * mobileMultiplier;

    // Créer le moteur
    const engine = Engine.create();
    currentEngine = engine;
    const world = engine.world;

    // Gravité
    engine.gravity.y = 1;

    // Épaisseur des murs (renforcés pour éviter les explosions)
    const wallThickness = 200;

    // Créer le bowl (murs gauche, droite, bas) - renforcés
    const walls = [
      // Mur gauche
      Bodies.rectangle(
        -wallThickness / 2,
        height / 2,
        wallThickness,
        height * 3,
        { isStatic: true, friction: 1, restitution: 0.2 }
      ),
      // Mur droite
      Bodies.rectangle(
        width + wallThickness / 2,
        height / 2,
        wallThickness,
        height * 3,
        { isStatic: true, friction: 1, restitution: 0.2 }
      ),
      // Mur bas
      Bodies.rectangle(
        width / 2,
        height + wallThickness / 2,
        width + wallThickness * 2,
        wallThickness,
        { isStatic: true, friction: 1, restitution: 0.2 }
      ),
    ];

    Composite.add(world, walls);

    // Drag & drop pour devices avec souris
    if (hasPointer) {
      // Créer un canvas invisible pour le tracking de la souris
      const canvas = document.createElement('canvas');
      canvas.width = width;
      canvas.height = height;
      canvas.style.cssText = 'position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:auto;opacity:0;cursor:grab;';
      container.appendChild(canvas);

      const mouse = Mouse.create(canvas);
      const mouseConstraint = MouseConstraint.create(engine, {
        mouse: mouse,
        constraint: {
          stiffness: 0.05,
          damping: 0.1,
          render: { visible: false }
        }
      });

      Composite.add(world, mouseConstraint);

      // Tracker la souris au niveau document pour continuer le drag hors du container
      let isDragging = false;

      const updateMousePosition = (e: MouseEvent) => {
        if (!isDragging) return;
        const containerRect = container.getBoundingClientRect();
        const x = e.clientX - containerRect.left;
        const y = e.clientY - containerRect.top;
        Mouse.setPosition(mouse, { x, y });
      };

      const onMouseDown = () => {
        isDragging = true;
        canvas.style.cursor = 'grabbing';
        document.body.style.cursor = 'grabbing';
      };

      const onMouseUp = (e: MouseEvent) => {
        if (!isDragging) return;
        isDragging = false;
        canvas.style.cursor = 'grab';
        document.body.style.cursor = '';
        // Forcer Matter.js à détecter le mouseup en mettant à jour l'état du bouton
        mouse.button = -1;
        // Mettre à jour la position finale
        const containerRect = container.getBoundingClientRect();
        Mouse.setPosition(mouse, {
          x: e.clientX - containerRect.left,
          y: e.clientY - containerRect.top
        });
      };

      canvas.addEventListener('mousedown', onMouseDown);
      document.addEventListener('mousemove', updateMousePosition);
      document.addEventListener('mouseup', onMouseUp);

      // Cleanup des event listeners lors du cleanup
      const originalCleanup = cleanupPhysics;
      cleanupPhysics = () => {
        document.removeEventListener('mousemove', updateMousePosition);
        document.removeEventListener('mouseup', onMouseUp);
        canvas.removeEventListener('mousedown', onMouseDown);
        originalCleanup();
      };

      // Appliquer un torque continu basé sur le point de saisie
      Matter.Events.on(mouseConstraint, 'startdrag', (event: { body: Matter.Body }) => {
        const body = event.body;
        if (!body) return;

        // Démarrer le timer CTA au premier drag
        startPlayTimer();

        const applyGravityTorque = () => {
          // Arrêter si l'engine a été nettoyé ou si on ne tient plus ce body
          if (!currentEngine || mouseConstraint.body !== body) return;

          // Point de saisie relatif au centre de masse
          const grabPoint = mouseConstraint.constraint.pointA;
          const bodyPos = body.position;

          if (grabPoint && bodyPos) {
            // Vecteur du centre vers le point de saisie
            const offsetX = grabPoint.x - bodyPos.x;

            // Torque proportionnel à la distance horizontale du point de saisie
            // Si on attrape à droite, le côté gauche tombe (torque négatif)
            // Si on attrape à gauche, le côté droit tombe (torque positif)
            const torque = -offsetX * 0.000005 * body.mass;
            Body.setAngularVelocity(body, body.angularVelocity + torque);
          }

          requestAnimationFrame(applyGravityTorque);
        };

        applyGravityTorque();
      });
    }

    // DEBUG: Activer pour voir les hitboxes
    const DEBUG = false;
    let debugCanvas: HTMLCanvasElement | null = null;
    let debugCtx: CanvasRenderingContext2D | null = null;

    if (DEBUG) {
      debugCanvas = document.createElement('canvas');
      debugCanvas.width = width;
      debugCanvas.height = height;
      debugCanvas.style.cssText = 'position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;z-index:9999;';
      container.appendChild(debugCanvas);
      debugCtx = debugCanvas.getContext('2d');
    }

    // Créer les corps pour chaque lettre avec leurs dimensions propres
    const bodies: Matter.Body[] = [];
    const dimensions: { width: number; height: number }[] = [];
    const renderOffsets: { x: number; y: number }[] = []; // Offsets pour aligner SVG avec hitbox

    letters.forEach((letter, index) => {
      // Lire les dimensions originales du SVG
      const originalWidth = parseFloat(letter.getAttribute('width') || '100');
      const originalHeight = parseFloat(letter.getAttribute('height') || '100');

      // Appliquer le scale
      const letterWidth = originalWidth * scale;
      const letterHeight = originalHeight * scale;

      dimensions.push({ width: letterWidth, height: letterHeight });

      // Position initiale au-dessus du container, espacée
      const x = (width / 2) + (Math.random() - 0.5) * width * 0.6;
      const y = -letterHeight - (index * 80 * scale) - Math.random() * 100;

      let body: Matter.Body;

      const is89Square = Math.round(originalWidth) === 89 && Math.round(originalHeight) === 89;
      const is178Square = Math.round(originalWidth) === 178 && Math.round(originalHeight) === 178;

      if (is89Square && index === 2) {
        // Corps circulaire uniquement pour le globe (index 2)
        body = Bodies.circle(x, y, letterWidth / 2, {
          restitution: 0.3,
          friction: 0.5,
          frictionAir: 0.01,
        });
        Body.setAngle(body, (Math.random() - 0.5) * 0.5);
      } else if (is178Square && index === 3) {
        // Forme 3: L arrondie - capsules avec angle droit au milieu
        const armThickness = letterWidth / 2;
        const r = armThickness / 2; // rayon des bouts arrondis
        
        // Bras vertical: du haut jusqu'à l'angle (en bas à gauche)
        // Rectangle vertical (sans les bouts arrondis)
        const verticalRectHeight = letterHeight - armThickness - r; // hauteur moins le bout arrondi
        const verticalRect = Bodies.rectangle(
          -letterWidth / 4,  // centré à gauche
          -letterHeight / 2 + r + verticalRectHeight / 2,  // positionné sous le cercle du haut
          armThickness,
          verticalRectHeight
        );
        // Cercle en haut du bras vertical
        const topCap = Bodies.circle(
          -letterWidth / 4,
          -letterHeight / 2 + r,
          r
        );

        // Bras horizontal: de l'angle jusqu'à droite
        // Rectangle horizontal (sans le bout arrondi)
        const horizontalRectWidth = letterWidth - armThickness - r;
        const horizontalRect = Bodies.rectangle(
          -letterWidth / 2 + armThickness + horizontalRectWidth / 2,  // part de l'angle
          letterHeight / 2 - armThickness / 2,  // en bas
          horizontalRectWidth,
          armThickness
        );
        // Cercle à droite du bras horizontal
        const rightCap = Bodies.circle(
          letterWidth / 2 - r,
          letterHeight / 2 - armThickness / 2,
          r
        );

        // Carré à l'angle (jonction des deux bras)
        const cornerSquare = Bodies.rectangle(
          -letterWidth / 4,
          letterHeight / 2 - armThickness / 2,
          armThickness,
          armThickness
        );

        body = Body.create({
          parts: [verticalRect, topCap, horizontalRect, rightCap, cornerSquare],
          restitution: 0.3,
          friction: 0.5,
          frictionAir: 0.01,
        });

        Body.setPosition(body, { x, y });
        Body.setAngle(body, Math.PI / 2 + (Math.random() - 0.5) * 0.3);
      } else if (is178Square && index === 4) {
        // Forme 4: L standard (rectangles)
        const armThickness = letterWidth / 2;

        const verticalArm = Bodies.rectangle(
          -letterWidth / 4,
          0,
          armThickness,
          letterHeight
        );

        const horizontalArm = Bodies.rectangle(
          0,
          letterHeight / 4,
          letterWidth,
          armThickness
        );

        body = Body.create({
          parts: [verticalArm, horizontalArm],
          restitution: 0.3,
          friction: 0.5,
          frictionAir: 0.01,
        });

        Body.setPosition(body, { x, y });
        Body.setAngle(body, -Math.PI / 2 + (Math.random() - 0.5) * 0.3);
      } else {
        // Corps rectangle pour les autres formes
        body = Bodies.rectangle(x, y, letterWidth, letterHeight, {
          restitution: 0.3,
          friction: 0.5,
          frictionAir: 0.01,
          angle: (Math.random() - 0.5) * 0.5,
        });
      }

      bodies.push(body);
      Composite.add(world, body);

      // Offsets de rendu pour aligner SVG avec hitbox (ajuster ici)
      if (index === 3) {
        renderOffsets.push({ x: 14 * scale, y: -14 * scale }); // Ajuster pour forme L index 3
      } else if (index === 4) {
        renderOffsets.push({ x: 20 * scale, y: -20 * scale }); // Ajuster pour forme L index 4
      } else {
        renderOffsets.push({ x: 0, y: 0 }); // Pas d'offset pour les autres
      }

      // Appliquer l'échelle au SVG
      letter.style.width = `${letterWidth}px`;
      letter.style.height = `${letterHeight}px`;
    });

    // Boucle de rendu
    function update() {
      Engine.update(engine, 1000 / 60);

      // DEBUG: Dessiner les hitboxes
      if (DEBUG && debugCtx && debugCanvas) {
        debugCtx.clearRect(0, 0, debugCanvas.width, debugCanvas.height);
        debugCtx.lineWidth = 2;

        bodies.forEach((body) => {
          // Pour les corps composés, dessiner chaque partie
          const parts = body.parts;

          parts.forEach((part, partIndex) => {
            // Ignorer la première partie qui est le parent (contient toutes les autres)
            if (parts.length > 1 && partIndex === 0) return;

            const vertices = part.vertices;
            debugCtx!.strokeStyle = '#ff0000';
            debugCtx!.fillStyle = 'rgba(255, 0, 0, 0.1)';
            debugCtx!.beginPath();
            debugCtx!.moveTo(vertices[0].x, vertices[0].y);
            for (let i = 1; i < vertices.length; i++) {
              debugCtx!.lineTo(vertices[i].x, vertices[i].y);
            }
            debugCtx!.closePath();
            debugCtx!.fill();
            debugCtx!.stroke();
          });

          // Dessiner le centre du corps principal
          debugCtx!.fillStyle = '#00ff00';
          debugCtx!.beginPath();
          debugCtx!.arc(body.position.x, body.position.y, 4, 0, Math.PI * 2);
          debugCtx!.fill();
        });
      }

      bodies.forEach((body, index) => {
        const letter = letters[index];
        const dim = dimensions[index];
        const offset = renderOffsets[index];
        if (letter && dim && offset) {
          // Appliquer la rotation à l'offset pour qu'il suive le corps
          const cos = Math.cos(body.angle);
          const sin = Math.sin(body.angle);
          const rotatedOffsetX = offset.x * cos - offset.y * sin;
          const rotatedOffsetY = offset.x * sin + offset.y * cos;

          const x = body.position.x - dim.width / 2 + rotatedOffsetX;
          const y = body.position.y - dim.height / 2 + rotatedOffsetY;

          letter.style.transform = `translate(${x}px, ${y}px) rotate(${body.angle}rad)`;

          // Rendre visible une fois positionné
          if (!letter.classList.contains('physics-ready')) {
            letter.classList.add('physics-ready');
          }
        }
      });

      animationFrameId = requestAnimationFrame(update);
    }

    update();
  }

  // Observer pour déclencher quand le container est visible
  let hasTriggered = false;
  let observer: IntersectionObserver | null = null;

  function setupObserver() {
    const container = document.getElementById('physics-container');
    if (!container) return;

    hasTriggered = false;

    // Cleanup ancien observer
    if (observer) observer.disconnect();

    // Adapter rootMargin selon la taille de l'écran
    // Sur mobile, utiliser une marge plus petite pour éviter de bloquer le trigger
    const isMobile = window.innerWidth < 768;
    const rootMargin = isMobile ? '-100px 0px' : '-400px 0px';

    observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting && !hasTriggered) {
            hasTriggered = true;
            initPhysics();
            observer?.disconnect();
          }
        });
      },
      { threshold: 0.1, rootMargin }
    );

    observer.observe(container);
  }

  // Init au chargement
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', setupObserver);
  } else {
    setupObserver();
  }

  // Re-init sur les view transitions
  document.addEventListener('astro:after-swap', setupObserver);

  // Re-init uniquement sur resize horizontal (évite les problèmes sur mobile)
  let lastWidth = window.innerWidth;
  let resizeTimeout: ReturnType<typeof setTimeout>;
  
  window.addEventListener('resize', () => {
    const currentWidth = window.innerWidth;
    if (currentWidth !== lastWidth) {
      lastWidth = currentWidth;
      clearTimeout(resizeTimeout);
      resizeTimeout = setTimeout(() => {
        hasTriggered = false;
        setupObserver();
      }, 150);
    }
  });
</script>
